# copy this file to /lib/systemd/system/

[Unit]
Description=NGINX API
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/app/nodejs/
ExecStart=/usr/bin/node /app/nodejs/nginxdockerapi.js

[Install]
WantedBy=multi-user.target
