# copy this file to /lib/systemd/system/

[Unit]
Description=NGINX API
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/home/nginx/nodejs/
ExecStart=/usr/bin/node /home/nginx/nodejs/nginx_api.js

[Install]
WantedBy=multi-user.target
